form {
	margin-left: 22px;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	float: left;
}

.info {
	opacity: 0.4;
	padding: 5px 5px 5px 5px; 
	width: 568px;
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}

.submitButton {
	text-align: center;
	background-color: #4aaaa5;
	width: 100px;
	height: 30px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	position: absolute;
}

@media screen and (max-width: 980px) {
	.info {
		width: 199%;
	}

	.submitButton {
		height: 50px;
		width: 120px;
		font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	.info {
		width: 359%;
	}
}

@media screen and (max-width: 640px) {
	.info {
		width: 270%;
	}
}