body { 
	background: url(../../assets/images/paper_fibers.png);
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}


.main-headerbox { 
	width: 100%;
	background-color: #ffffff;
	border: 2px solid #cccccc;
	height: 73px;
	color: white;
	position: fixed;
	top: 0;
	z-index: 99;
}

.main-headerbox h1 { 
	text-align: center;
	background-color: #4aaaa5;
	width: 250px;
	height: 85px;
	line-height: 85px;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	position: fixed;
	left: 140px;
	top: -26px;
	float: left;
    }

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 85px;
  margin-top: 10px;
  margin-left: 775px;
}

.menu-items {
  display: inline-block;
}

.menu-items li {
  display: inline-block;
  font-size: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #4aaaa5;
  padding-left: 7px;
  padding-right: 7px;
}

.menu-items a {
  text-decoration: none;
}

.separator {
	opacity: .2;
}

.links {
	color: #4aaaa5;
	text-decoration: none;
}

.main-section {
	background-color: #ffffff;
	width: 630px;
	max-height: 850px;
	/*min-height: 490px;*/
	height: auto;
	overflow-y: visible;
	padding-left: 5px;
	padding-bottom: 70px;
	border: 1px solid #dddddd;
	margin-top: 100px;
	margin-left: 140px;
	margin-bottom: 30px;
	float: left;
}

.main-section h1 {
	margin-left: 22px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	float: left;
}

.main-section hr {
	opacity: 0.4;
	background-color: #4aaaa5;
	width: 580px;
	height: 2px;
	margin-left: 22px;
	margin-bottom: 20px;
}

.sidebar {
	background-color: #ffffff;
	width: 270px;
	height: 190px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	margin-top: 100px;
	margin-left: 50px;
	/*top: 100px;
	right: 255px;
	position: relative;*/
	float: left;
}

.sidebar h2 {
	margin-left: 20px;
}

.sidebar hr {
	opacity: 0.2;
	background-color: #4aaaa5;
	width: 225px;
	margin-bottom: 20px;
	color:;
}

.logo {
	width: 250px;
	margin-left: 18px;
	overflow: hidden;
	float: left;
}

.logo img {
	width: 75px;
	height: 75px;
}

#img-hover1:hover,
#img-hover2:hover,
#img-hover3:hover {
	opacity: 0.5;
}

.bottom-footer {
	clear: both;
	height: 65px;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    border-top: 7px solid #4aaaa5;
    background: #666666;
    color: white;
}

.bottom-footer p {
	padding-top: 15px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 10px;
}

@media screen and (max-width: 980px) {
	.body {
		width: 980px;
		height: 1110px;
	}

	.fixed-nav-bar{
		margin-left: 575px;
	}
	
	.sidebar {
		right: 65px;
	}

	.main-section {
		width: 420px;
		max-height: 2000px;
	}

	.main-section hr {
		width: 375px;
	}
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 640px) {
	
}