#label1,
#label2,
#label3,
#label4,
#label5 {
	text-align: center;
    background-color: #4aaaa5;
    width: 275px;
    height: 62px;
    line-height: 62px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 110px;
}

#hover1 img,
#hover2 img,
#hover3 img,
#hover4 img,
#hover5 img {
	height: 206px;
	width: 275px;
}

#hover1,
#hover2,
#hover3,
#hover4,
#hover5 {
    height: 206px;
    width: 275px;
    float: left;
    position: relative;
}

#hover1 {
    left: 23px;
}

#hover2 {
    left: 53px;
}

#hover3 {
    top: 23px;
    left: 23px;
}

#hover4 {
    left: 53px;
    top: 23px;
}

#hover5 {
    top: 53px;
    left: 23px;
}

#hover1:hover,
#hover2:hover,
#hover3:hover,
#hover4:hover,
#hover5:hover {
    opacity: 0.5;
}

@media screen and (max-width: 980px) {
    #hover1 img,
    #hover2 img,
    #hover3 img,
    #hover4 img,
    #hover5 img {
        height: 270px;
        width: 375px;
}

    #hover1,
    #hover2,
    #hover3,
    #hover4,
    #hover5 {
        height: 270px;
        width: 375px;
}

    #label1,
    #label2,
    #label3,
    #label4,
    #label5 {
        width: 375px;
        top: 160px;
    }

    #hover2 {
        margin-top: 50px;
        left: 23px;
    }

    #hover3 {
        margin-top: 25px;
    }

    #hover4 {
        margin-top: 50px;
        left: 23px;
    }

    #hover5 {
        margin-top: 25px;
    }
}

@media screen and (max-width: 768px) {
    #hover1 img,
    #hover2 img,
    #hover3 img,
    #hover4 img,
    #hover5 img {
        height: 236px;
        width: 313px;
    }

    #hover1,
    #hover2,
    #hover3,
    #hover4,
    #hover5 {
        height: 236px;
        width: 313px;
    }
    
    #label1,
    #label2,
    #label3,
    #label4,
    #label5 {
        width: 313px;
        top: 140px;
    }

    #hover2 {
        margin-left: 45px;
        margin-top: 0px;
    }

    #hover4 {
        margin-left: 45px;
        margin-top: 25px;
    }  
}

@media screen and (max-width: 640px) {
    #hover1 img,
    #hover2 img,
    #hover3 img,
    #hover4 img,
    #hover5 img {
        height: 406px;
        width: 505px;
    }

    #hover1,
    #hover2,
    #hover3,
    #hover4,
    #hover5 {
        height: 406px;
        width: 505px;
    }
    
    #label1,
    #label2,
    #label3,
    #label4,
    #label5 {
        width: 505px;
        top: 300px;
    }

    #hover2 {
        margin-left: 0px;
        margin-top: 50px;
    }

    #hover4 {
        margin-left: 0px;
        margin-top: 50px;
    }
}    